<header>
    <section id="logo">
        <img src="{{ asset('imgs/logo.png') }}" alt="">
        <h3>DevCave</h3>
    </section>
    <nav>
        <a>Inicio</a>
        <a>Mis publicaciones</a>
        <a>Mi Biblioteca</a>
        <a>Nuevo Juego</a>
        <a>Panel de control</a>
    </nav>
    <section id="login">
        <a href="/login">Iniciar sesion</a>
        <a href="/registro">Registrarse</a>
        <a href="/logout">Cerrar sesión</a>
    </section>
</header>
