:root {
    --bg: #0B1019;
    --component-bg: #13161F;
    --container-border: #292B34;
    --field-color: #292B33;
    --card-bg: #1A222B;
    --text-primary: #E4E6EA;
    --text-secondary: #BABEC3;
    --btn-blue: #1B49E5
}